body {
    background-color: lemonchiffon;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;
}

header {
    text-align: center;
}

aside {
    padding-bottom: 50px;
}

table, tr, td {
    border: solid 2px black;
    border-spacing: 2px;
}

td {
    width: 150px;
    height: 150px;
}