@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@300;400;500;700&display=swap');

body {
    background-color: #F6F4F6;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: #7E6774;
    overflow: hidden;
}

header {
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    padding: 50px 0px 50px 0px;
}

main {
    display: flex;
    flex-direction: column;
}

.game-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

label {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: 500;
}

input {
    max-width: 50px;
    padding: 10px 10px;
    border-color: linear-gradient(to right, #BC797B, #7E6774);
    border-radius: 20px;
    border-width: 1px;
    background-color: #F6F4F6;
    font-size: 18px;
}

/* div {
    display: flex;
    flex-direction: column;
    margin: 20px;
} */

#current-player {
    font-size: 20px;
}

.player-options {
    flex-direction: column;
    justify-content: space-evenly;
}

#reset-game {
    background-color: #DDBCB9;
    color: #F6F4F6;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 30px;
    padding: 12px 30px;
    margin: 10px 1px;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

#reset-game:hover {
    cursor: grab;
}

.game-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

td {
    background-color: #BC797B;
    border-radius:25%;
    border-spacing: 2px;
    width:150px;
    height:150px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 50px;
    color: #F6F4F6;
}


.Player1:hover, .Player2:hover {
    cursor: not-allowed;
}

td:hover {
    cursor: pointer;
    background-color: rgb(188, 121, 123, .33);
}

#player-win {
    font-size: 30px;
    font-weight: 600;
    color: #BC797B;
    font-family: 'Monoton', cursive;
}

.winning-square {
    background-color: #7E6774;
    color: #F6F4F6;
}


